
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplicação para anotações">
    <meta name="keywords" content="anotações, anotação">
    <meta name="author" content="Jhonathan">
    <title>Leaning Log</title>
    {% bootstrap_css %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Leaning Log</a>

            <div class="navbar-header">
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'topics' %}">Tópicos</a></li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item d-flex aling-items-center">
                            <span class="navbar-text me-3">Olá, <strong>{{ user.username }}</strong></span>
                             <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Registrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <style>
        body { padding-top: 70px; }
    </style>


    {% block content %}{% endblock content %}

    <footer>
        <p>Aqui fica um rodapé</p>
    </footer>

    {% bootstrap_javascript %}
</body>
</html>