{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="p-5 mb-4 bg-light rounded-3 border">
        <h1>Acompanhe seu aprendizado.</h1>
    </div>
{% endblock header %}

{% block content %}

    {% if not user.is_authenticated %}
        <h3><a href="{% url 'register' %}">Crie uma conta</a> para utilizar o Learning Log e liste os tópicos que você esta aprendendo.</h3>
    {% endif %}

    <h3>
        Sempre que você aprender algo novo sobre um tópico,
        faça uma entrada resumindo o que você aprendeu.
    </h3>
{% endblock content %}