{% extends "learning_logs/base.html" %}

{% block header %}
    <h3>Tópicos</h3>
{% endblock header %}

{% block content %}
    <ul>
        {% for topic in topics %}
        <li>
            <h4>
                <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
            </h4>
        </li>
        {% empty %}
        <li>Não há tópicos adicionados</li>
        {% endfor %}
    </ul>

    <h5>
        <a href="{% url 'new_topic' %}">Adicionar novos tópicos</a>
    </h5>
{% endblock content %}